name: SonarCloud Analysis

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            api.sonarcloud.io:443
            binaries.sonarsource.com:443
            github.com:443
            npm.pkg.github.com:443
            objects.githubusercontent.com:443
            pipelinesghubeus23.actions.githubusercontent.com:443
            pkg-npm.githubusercontent.com:443
            registry.npmjs.org:443
            api.sonarcloud.io:443
            analysis-sensorcache-eu-central-1-prod.s3.amazonaws.com:443
            sc-cleancode-sensorcache-eu-central-1-prod.s3.amazonaws.com:443
            scanner.sonarcloud.io:443
            sonarcloud.io:443
            api.codecov.io:443
            cli.codecov.io:443
            storage.googleapis.com:443

      - name: Check out the code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          submodules: true

      - name: Run SonarCloud analysis
        uses: myrotvorets/composite-actions/node-sonarscan@master
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          registry-url: https://npm.pkg.github.com
          test-script: 'test:coverage'

      - name: Rebuild the project with sourcemaps
        run: npm run build -- --sourcemap

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/lcov.info
